@model FitnessAI.Application.Clients.Queries.GetClient.ClientDto

@{
    ViewData["Title"] = "Moje dane";
}

<div class="card card-primary card-border-top">

    <div class="card-body">

        <a asp-controller="Client" asp-action="EditClient" class="btn btn-primary mb-3" role="button">
            <i class="fas fa-solid fa-circle-plus me-2"></i>Aktualizuj swoje dane
        </a>

        @if (string.IsNullOrWhiteSpace(Model.FirstName))
        {
            <p class="text-danger mt-2">
                <b>Proszę o uzupełnienie danych aby odblokować wszystkie funkcje aplikacji.</b>
            </p>

            <p>Jesteś zalogowany.</p>
            <p>Adres e-mail: <b>@Model.Email</b></p>
        }
        else
        {
            <h3 class="mt-3">@Model.FirstName @Model.LastName</h3>

            <p class="mt-3"><b>Adres e-mail:</b> @Model.Email</p>

            @if (Model.IsPrivateAccount)
            {
                <p><b>Typ użytkownika:</b> Konto prywatne</p>
            }
            else
            {
                <p><b>Typ użytkownika:</b> Konto firmowe, <b>NIP:</b> @Model.NipNumber</p>
            }

            <p class="mt-2"><b>Adres:</b> @Model.Country, @Model.ZipCode @Model.City, @Model.Street @Model.StreetNumber</p>
            <p class="mt-2"><b>Data rejestracji:</b> @Model.RegisterDateTime.ToString("dd-MM-yyyy")</p>
        }


    </div>

</div>